<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 2.0.a
  </div>
  <strong>Corpo de Bombeiros Militar de Pernambuco <a href="intranet.bombeiros.pe.gov.br"></a>.</strong>
</footer>