<footer class="main-footer">
  <div class="hidden-xs">
    <b><%= I18n.t 'helpers.layouts.version' %></b><%= I18n.t 'helpers.layouts.version_number' %>
  </div>
  <strong><%= I18n.t 'helpers.layouts.fire_fight' %><a href="intranet.bombeiros.pe.gov.br"></a>.</strong>
</footer>