<header class="main-header">
  <!-- Logo -->
  <!-- Logo -->
  <a href="../" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <strong>
        <%= StrHelper.system_i18n(:sgid, [:helpers, :layouts])%>
      </strong>
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <strong>
        <%= StrHelper.system_i18n(:sgid, [:helpers, :layouts])%>
      </strong>
    </span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li>
          <a href="http://www.bombeiros.pe.gov.br">
            <%= StrHelper.system_i18n(:fire_fights, [:helpers, :layouts])%>
          </a>
        </li>
        <li>
          <a href="http://www.bombeiros.pe.gov.br">
            <%= StrHelper.system_i18n(:fire_fights_acronym, [:helpers, :layouts])%>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>