<header class="main-header">
  <!-- Logo -->
  <!-- Logo -->
  <a href="../" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><strong>SGId</strong></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><strong>SGId</strong></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li><a href="http://www.bombeiros.pe.gov.br">Bombeiros</a></li>
        <li><a href="http://www.bombeiros.pe.gov.br">CBMPE</a></li>
      </ul>
    </div>
  </nav>
</header>