<section class="sidebar" style="height: 587px; overflow: hidden; width: auto;">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">    
        <li class="treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>            
        </li>        
    </ul>
</section>