<div class="card_front font_default">
	<div class="logo border-full">
		<!-- <img width="45.5mm" height="37.5mm" align="center" src="/im/brasaosdspe.png"/> -->
	</div>
	<div class="title border-full">
		<%= I18n.t 'attributes.card.title' %>
	</div>
	<div class="name border-full">
		<%= card.name %>
	</div>
	<div class="hierarchy border-full">
		<%= card.hierarchy %>
	</div>
	<div class="photo border-full">
		foto
	</div>
	<div class="rg border-full">
		<%= card.registration %>
	</div>
</div>