<footer class="main-footer">
  <div class="hidden-xs">
    <b><%= I18n.t 'helpers.layouts.version' %></b><%=  StrHelper.system_i18n(:version_number, [:helpers, :layouts]) %>
  </div>
  <strong><%= StrHelper.system_i18n(:fire_fight, [:helpers, :layouts]) %><a href="intranet.bombeiros.pe.gov.br"></a>.</strong>
</footer>